body{
display: flex;
flex: auto;
flex-direction: column;
font-family: 'Roboto', sans-serif;
margin: 0;
height: 100vh;

}
.header{
    display: flex;
    background: #1f2937;
    margin:0;
    border:0;
    padding: 10px;
    max-height: 70px;
  justify-content: space-between;
  flex:auto;   
}
.logo{
    font-size: 24px;
}
.font1{
    color: #f9faf8;
    font-size: 48px;
    font-weight: 800;
}
.font2{
    color: #e5e7eb;
    font-size: 18px;
}

.headerlink{
    list-style: none; 
    display: flex;
    gap:20px;

}
.card1{
    display: flex;
    background-color: #1f2937;
    justify-content: center;
}
.textleft{
    display: flex;
    flex-direction: column;
    flex:1;
    padding:20px;
}
.textright{
    display:flex;
    flex: 1;
}
.card2{
background-color: white;
}
.info{
    display: flex;
    justify-content: center;
    font-size: 36px;
    color:#1f2937;
    font-weight: 900;
}
.bigbox{
    display: flex;
}
.illus{
    display: flex;
    flex-direction: column;
}
.box {
    width: 200px;
    height: 200px;
    border: 5px solid #3882f6;
    margin: 20px;
    border-radius: 15px; /* Creates rounded corners */
  }
  
.subtext{
    padding:20px;
    position: relative;
    top: -10px; 
}

.footer{
    color:white;
    background-color: #1f2937;
    padding: 10px; 
    display: flex;
    justify-content: center;
}