body
{
display: flex;
flex-direction: column;
font-family: 'Roboto', sans-serif;
margin: 0;
height: 100vh;
width: 100vw;
}
.header{
    display: flex;
    background: #1f2937;
    margin:0;
    border:0;
    padding: 20px;
    justify-content:space-between;
    width: 100vw;
    box-sizing:border-box;
    align-items: center;
}

.font1{
    color: #f9faf8;
    font-size: 48px;
    font-weight: 800;
}

.logo{
    font-size: 24px;
    color:  #e5e7eb;
    
}
.font2{
    color: #e5e7eb;
    font-size: 18px;
}

.headerlink{
    list-style: none; 
    display: flex;
    gap:20px;
    box-sizing: border-box;
    padding-right: 20px;

}

.card1{
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    width: 100vw;
}
.textleft{
    display: flex;
    flex-direction: column;
    flex:1;
    padding:20px;
    justify-content: left;
}
button{
    background-color: #3882f6;
    color: white;
    border: #3882f6;
    width:100px;
    border-radius: 5px;
    padding: 6px 0;
}
.textright{
    display:flex;
    flex: 1;
}
.card2{
background-color: white;  
width: 100vw;
overflow-x: auto;
}
.info{
    display: flex;
    justify-content: center;
    font-size: 36px;
    color:#1f2937;
    font-weight: 900;
}
.bigbox{
    display: flex;
    padding: 0px 100px;
    justify-content: center;

}
.illus{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.box {
    width: 120px;
    height: 120px;
    border: 2px solid #3882f6;
    margin: 20px;
    border-radius: 15px; /* Creates rounded corners */
    box-sizing: border-box;
  }
  
.subtext{
    padding:30px;
    position: relative;
    top: -30px; 
    text-align: center;
    font-size: 12px;
}

.card3{
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
}
.quote{
    font-size: 36;
    font-style: italic;
    color: #1f2937;
    padding:100px 200px;
}
.card4{
    width:100vw;
    box-sizing: border-box;
    background-color: white;
}
.cta{
display: flex;
background-color: #3882f6;
border-radius: 15px;
padding: 40px;
margin-left: 120px;
margin-right:120px ;
margin-top:80px ;
margin-bottom:80px ;
justify-content: space-between;
align-items: center;
}
.words{
    display: flex;
    flex-direction:column;
    width: 500px;
    color: white;
}
.ctawords{
    flex-wrap: wrap;
    font-weight: 600;
}
.ctawords2{
    flex-wrap: wrap;
}
.buttoncta{
 border-radius:7px ;
 border:2px solid white;
 background-color: #3882f6;
 margin-top: 30px;
 margin-bottom: 30px;
 padding-left: 40px;
 padding-right: 40px;
 padding-top: 5px;
 padding-bottom: 5px;
 color: white;
}


.footer{
    color:white;
    background-color: #1f2937;
    padding: 10px; 
    display: flex;
    justify-content: center;
}